body {
    background-image: url(images/star-bg.png);
}

p, h1, h2, h3 {
    color: white;
}

#page-title {
    text-align: center;
    color: white;
}

#page-title + p {
    text-align: center;
    color: white;
    font-size: 20px;
}

.button {
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;

}

nav {
    width: fit-content;
}

.meat {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;

    width: 80%;
    margin: 0 auto;

    border: 5px ridge white;
    padding: 5px;
}

.leftbar, .rightbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-self: center;
}

.main {
    background-color: navy;
    border: 2px ridge white;
    padding: 5px;
}

.main :is(h1, h2, h3) {
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: blueviolet;
    max-width: fit-content;
}

ul li a {
    display: block;
    color: white;
    padding: 7px 16px;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 75%;
}

li {
    outline: 5px white;
}

.marquee-box {
    width: 700px;
    max-width: 700px;
    overflow: hidden;
    padding: 0;
}

.marquee-cart {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 10s steps(40) infinite;
}

.marquee-cart span {
  padding-right: 50px; /* spacing between loops */
  color: white;
}

.main-content {
    margin: 32px;
    padding: 15px;
    background-color: transparent;
}


@keyframes marquee {
    0% {transform: translate(0, 0)}
    100% {transform: translate(-50%, 0)}
}

#markdown-article {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid white;
}

#markdown-content {
    padding: 10px;
    text-align: left;
    color: white;
    background-color: rgb(2, 2, 72);
}